/*****************
* CUSTOM CLASSES *
*****************/


.content-box {
  box-shadow: 0 6px 12px rgba($black, 0.175);
  border: 1px solid $grey;
  background: $white;
  position: relative;
  @include rem-fallback(margin-top, 1.5);
  @include rem-fallback(margin-bottom, 1.5);
  @include rem-fallback(padding, 1);
  .content-left {
    border-right: 2px solid $grey;
    @include rem-fallback(padding-right, 2);
  }
  .content-right {
    @include rem-fallback(padding-left, 2);
  }
}
.strong {
  font-weight: bold;
}
.italic {
  font-style: italic;
}
.uppercase {
  text-transform: uppercase;
}
.text-center {
  text-align:center;
}
.disclaimer {
  font-size: 1.25em;
}
.no-style-link {
  text-decoration:none;
  color: $black;
}
img.right-bottom-corner {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.master-slider-container {
  // min-height: 450px;
}
.right-bottom-corner {
  position: absolute;
  right: 10px;
  bottom: 10px;
  @include mobile {
    display: none;
  }
}
.blue-button,
input[type="submit"].blue-button {
  transition: all 0.3s ease;
  font-size: 2em;
  font-family: $next;
  letter-spacing: 0.5px;
  max-width: 200px;
  margin: 0 auto;
  font-family: $condensed;
  background: $blue;
  color: $white;
  font-weight: 600;
  text-transform: uppercase;
  box-shadow: 0 3px 6px rgba($black, 0.175);
  text-shadow: 0 3px 6px rgba($black, 0.175);
  letter-spacing: 0.5px;

  @include rem-fallback(margin-top, 1);
  @include rem-fallback(margin-right, 2);
  @include rem-fallback(padding, 0.5, 1.5);
  &:visited {
    color: $white;
  }
  &:hover {
    background: lighten($blue, 70%);
    color: $blue;
  }
}

.button-margin {
  @include rem-fallback(margin-top, 1.5);
  @include rem-fallback(margin-bottom, 1.5);
}
.no-padding {
  padding: 0;
}
.padding-bottom-2 {
  @include rem-fallback(padding-bottom, 2);
}
.padding-bottom-6 {
  @include rem-fallback(padding-bottom, 6);
}
.input,
input[type="text"].input,
input[type="email"].input,
input[type="phone"].input,
textarea.input {
  padding: 0.5rem 1rem;
  border: 1px solid black;
  border-radius: 1px;
  margin-bottom: 1rem;
}
