/*****************
* CUSTOM CLASSES *
*****************/


.content-box {
  box-shadow: 0 6px 12px rgba($black, 0.175);
  border: 1px solid $grey;
  background: $white;
  position: relative;
  @include rem-fallback(margin-top, 1);
  @include rem-fallback(margin-bottom, 1);
  @include rem-fallback(padding, 1);
}
.strong {
  font-weight: bold;
}
.italic {
  font-style: italic;
}
.uppercase {
  text-transform: uppercase;
}
.text-center {
  text-align:center;
}
.disclaimer {
  font-size: 1.25em;
}
.no-style-link {
  text-decoration:none;
}
img.right-bottom-corner {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.master-slider-container {
  min-width: 450px;
}
